/* Main page divisions */

.body {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
	height: 90%;
  	width: 100%;
	background:white;
	grid-template-areas: "nav" "body" "footer";
	grid-template-rows: 1fr 5fr 1fr;
}
.navg {
	height: 100%;
	width: 100%;
	background: rgb(159, 116, 251);
	display: flex;
	align-items: center;
	grid-area: "nav";
}
.nav-item {
	margin-left: 100px;
}

/* Movie grid */
.canvas {
	background: rgb(255, 255, 255);
}
.grid {
	display: grid;
    box-sizing: border-box;
    padding: 1.2rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1rem 1rem;
}
.cell {
	background-color: lightgray;
    /*border config*/
    border-color: black;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem;

	font-size: 3fr;
	text-align: center;
    
}
.cell img {
    max-height: 90%;
}

/* Genres selector */
.filters {
    background-color: aliceblue;
    /*evenly space*/
    display: table;
    width: 100%;
    table-layout: auto;
    /*border config*/
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
}
.genre {
    /*stack horizontaly*/
    display: table-cell;
    text-align: center;
    /*border config*/
    border-color: lightslategray;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.1rem;
}
.genre label {
    grid-area: "label";
}
.genre input {
    background-color: blueviolet;
}